{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:flowtype/recommended"],
  "plugins": ["flowtype", "flowtype-errors", "jsdoc"],
  "env": {
    "jest": true
  },
  "rules": {
    "comma-dangle": 0,
    "arrow-parens": 0,
    "flowtype-errors/show-errors": 2,
    "arrow-body-style": 0,
    "max-len": [2, 120],
    // JSDoc
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 0,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1,
    "import/prefer-default-export": 0
  }
}
